.App {
  font-family: sans-serif;
  margin: 10px;
}

.input-field {
  max-width: 200px;
}

.dropdown {
  max-width: 200px;
  ;
}

.datepicker-wrapper {
  position: relative;
}

.calendar-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

button {
  margin: 10px 0;
}

.confirm-booking-button {
  margin-top: 10px;
}

.where {
  margin: 10px 0;
}

.when {
  max-width: 200px;
}

.when:hover {
  cursor: pointer !important;
}